extends master
block head
  title Stav Mizrahi
block content
  div(style="height:200px;background:#0a0a0a;")
    .container
      div(style="height:50px;")
      h1.Txt40 Stav Mizrahi
      h2 Developer. Designer.
  .gradient(style="height:100px;")
  div(style="text-align:left;position:relative;top:-110px;")
    div(style="height:50px;")
    .container

      //- #loader.Txt15(style="padding-bottom:250px;padding-top:50px;")
        div
          span Loading assets > 
          span.timeleft 

      div
        .Txt17 Alooma (Head of Creative)
        .Txt13 2015-Today
        div(style="height:50px;")
      div
        .columns
          .column
            a(href="https://www.alooma.com", target="_blank")
              .projectName Website
            .website.carousel.shadow(style="height:980px;")
              .carousel-container(style="background:transparent;")
                .carousel-content.carousel-animate.carousel-animate-fade
                  a(href="https://www.alooma.com", target="_blank")
                    .carousel-item
                      img.is-background(src='/img/alooma_website_0.jpg')
                    .carousel-item
                      img.is-background(src='/img/alooma_website_1.png')
                    .carousel-item
                      img.is-background(src='/img/alooma_website_2.png')
                    .carousel-item
                      img.is-background(src='/img/alooma_website_3.png')
                a(onclick="pause=true;")
                  .carousel-nav-left
                    i.fa.fa-chevron-left(aria-hidden='true')
                a(onclick="pause=true;")
                  .carousel-nav-right
                    i.fa.fa-chevron-right(aria-hidden='true')

            div(style="height:50px;")
            
            .projectName Merchandise
            div(style="background:#525252;text-align:center;")
              div(style="padding:40px;padding-right:0px;")
                img(src="/img/t-shirt.png",style="width:50%;")
                img(src="/img/flipflops.png",style="width:50%;")
              div(style="text-align:center;margin-top:0px;")
                img(src="/img/rollup.jpg",style="height:500px;")
                div(style="height:10px;")


          .column
            a(href="https://www.alooma.com/live", target="_blank")
              .projectName Alooma Live
            a(href="https://www.alooma.com/live", target="_blank")
              video.shadow(style="width:100%;",autoplay, loop)
                source(src="https://cdn.alooma.com/video/live-video.mp4", type="video/mp4")
            
            div(style="height:50px;")
            a(href="https://app.alooma.com", target="_blank")
              .projectName Product
            .carousel(style="height:330px;")
              .carousel-container(style="background:transparent;")
                .carousel-content.carousel-animate.carousel-animate-fade
                  a(href="https://app.alooma.com", target="_blank")
                    .carousel-item
                      img.is-background(src='/img/alooma_prod_0.png')
                    .carousel-item
                      img.is-background(src='/img/alooma_prod_1.png')
                    .carousel-item
                      img.is-background(src='/img/alooma_prod_2.png')
                    .carousel-item
                      img.is-background(src='/img/alooma_prod_3.png')
                a(onclick="pause=true;")
                  .carousel-nav-left
                    i.fa.fa-chevron-left(aria-hidden='true')
                a(onclick="pause=true;")
                  .carousel-nav-right
                    i.fa.fa-chevron-right(aria-hidden='true')
            div(style="height:50px;")

            .projectName Events - re:invent, Las Vegas
            div
              img(src="/img/alooma_reinvent_0.png",style="width:100%;")
            div(style="margin-bottom:30px;")
              img(src="/img/alooma_reinvent_1.jpg",style="width:100%;")
            div
              img(src="/img/alooma_reinvent_2.jpg",style="width:100%;")


      div(style="height:100px;")
      div
        a(href="https://www.roomerang.travel", target="_blank")
          .Txt17 Roomerang (Freelance Full Stack Developer and UX Designer)
          .Txt13 2016-2017
        div(style="height:50px;")
      div
        .columns
          .column.is-1
          .column
            .shadow
              iframe.fullWindow(src="https://www.roomerang.travel", style="width:100%;border:solid 0px #000;")

      div(style="height:100px;")
      div
        a(href="https://www.sightdx.com", target="_blank")
          .Txt17 Sight Diagnostics (Freelance Full Stack Developer)
          .Txt13 2017
        div(style="height:50px;")
      div
        .columns
          .column.is-1
          .column
            .shadow
              iframe.fullWindow(src="https://www.sightdx.com", style="width:100%;border:solid 0px #000;height:800px;")


      div(style="height:100px;")
      div
        .Txt17 IsraelTraveler (UX•UI Designer and Frontend Developer)
        .Txt13 2011
        div(style="height:50px;")
      div
        .columns
          .column
            div
              img(src="/img/israeltraveler_1.jpg", style="width:100%;")
            div
              //- img(src="/img/israeltraveler_3.jpg", style="width:100%;")
          .column
            div
              img(src="/img/israeltraveler_0.jpg", style="width:100%;")
            div
              //- img(src="/img/israeltraveler_2.jpg", style="width:100%;")




      div(style="height:100px;")
      div
        .Txt17 Convert Media (aquired by Taboola)
        .Txt13 UX•UI Designer and Frontend Developer
        .Txt13 2012-2014
        div(style="height:50px;")
      div
        .columns
          .column

      div
        .Txt17 Wibbitz
        .Txt13 UX•UI Designer and Frontend Developer
        .Txt13 2010-2011
        div(style="height:50px;")
      div
        .columns
          .column

      div
        .Txt17 Imagenation
        .Txt13 UX•UI Designer and Full Stack Developer
        .Txt13 2007-2014
        div(style="height:50px;")
      div
        .columns
          .column


      div
        .Txt17 Israeli Air Force
        .Txt13 Webmaster
        .Txt13 2004-2007
        div(style="height:50px;")
      div
        .columns
          .column


      .Satisfy.Txt40(style="margin-top:40px;")
        div Thanks,
        div Stav




